.modal-box(id="elect-modal")
    .title Electives
    .description
    
    form
        ul.numbers 
        ol.elective-picker
            
        
    .text-center
        .back-button Back
        .button(onclick="submitElective()") Next