.modal-box(id="music-modal")
    .title Music
    .description Please choose a musical ensemble below.
    form
        .radio-group
            .text-center(id="music-picker")
                .text-center
                    input(type="radio" name="music" value="Band" id="band")
                    label(for="band") Band
                    input(type="radio" name="music" value="Choir" id="choir")
                    label(for="choir") Choir
                .text-center
                    input(type="radio" name="music" value="Orchestra" id="orchestra")
                    label(for="orchestra") Orchestra
                    input(type="radio" name="music" value="No Music" id="no-music")
                    label(for="no-music") None
    
    .text-center
        .back-button Back
        .button(onclick="submitMusic()") Next


