.modal-box(id="team-time-modal")
    .title Team Time
    .description
    
    form
        ul.numbers
        ol.elective-picker
  
    .text-center
        .back-button Back
        .button(onclick="submitTeamTime()") Next
