//- index.pug
doctype html
html
    head
        link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")

    body
        .modal-wrapper
            .modal-header
                span.active
                span
                span
                span
                span
                
            .modal-boxes
                include form-pages/student-info.pug
                include form-pages/music.pug
                include form-pages/electives.pug
                include form-pages/teamtime.pug
                include form-pages/submit.pug

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
        
        script(src="js/main.js")
