/* Basic Styles */
* { box-sizing: border-box; }

html {
  min-height: 100%;
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
  font-size: 16px; }

body {
  background-color: #42a1f4;
  background-image: radial-gradient(circle, #3dd8ff, #2893ff); }



/* Helper Classes */
.text-center {
  text-align: center; }

.flex-center {
  display: flex;
  justify-content: center; }
  
  
  
/* Button Styles */  
.button {
  background-color: #287aff;
  color: white; }
  
.button:hover {
  background: #6ba3ff; }

.back-button {
  background-color: #ccc; }
  
.back-button:hover {
  background: #bfbfbf; }

.submit-button {
  background-color: #3FBF3F;
  color: white; }

.submit-button:hover {
  background: #39ac39; }

.button,
.back-button,
.submit-button {
  margin: 10px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}



/* Modal Wrapper Styles */
.modal-wrapper {
  max-width: 600px;
  margin: 50px auto 0; }

.modal-header {
  background: white;
  height: 45px;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center; }
  
.modal-header span {
  display: block;
  height: 12px;
  width: 12px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2); }
  
.modal-header span.active { background: #2893FF; }

.modal-boxes {
  position: relative;
  perspective: 1000px; }



/* Modal Box Styles */
.title,
.description,
.error-msg {
  text-align: center;
  margin-bottom: 24px; }

.title {
  text-transform: uppercase;
  color: #FF8F00;
  font-size: 24px;
  letter-spacing: 1px; }

.description { color: #666; }

.error-msg {
   color: crimson;
   font-weight: bold; }

.error { box-shadow: 0px 0px 7px 2px red; }



/* Form Styles */
input[type="text"],
input[type="email"],
textarea,
select {
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 14px;
  outline: none;
  margin-bottom: 20px;
  display: block;
  background: white;
  width: 100%; }

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  border-color: rgba(0, 80, 255, 0.5);
  box-shadow: 0px 0px 7px rgba(0, 80, 255, 0.5); }

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px; }

.form-group {
  font-size: 18px;
  margin-bottom: 20px; }
  
.form-group > label,
.form-group > select {
  display: block;
  margin-bottom: 8px; }



/* Radio Button Styles */
.radio-group { margin-bottom: 30px; }

.radio-group input[type="radio"] { display: none; }

.radio-group label {
  cursor: pointer;
  /* border: 2px solid #444; */
  box-shadow: inset 0px 0px 0px 2px #444;
  border-radius: 50%;
  
  width: 50px;
  height: 50px;
  line-height: 50px;
  
  margin: 10px;
  display: inline-block;
  text-align: center;
  background-color: #eee;
  transition: background-color 0.3s ease;
  
  /* Old Stuff
  
  background-color: #17D;
  color: white;
  padding: 6px 16px;
  border-radius: 3px;
  */
}

.radio-group label:hover {
  background-color: #8ec6ff;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3), inset 0px 0px 0px 2px #444;
}
  
.radio-group input[type="radio"]:checked + label { background-color: #ffb251; }
.radio-group input[type="radio"]:checked + label:hover {
  background-color: #ffa738;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4), inset 0px 0px 0px 2px #444;  
}

#lang-picker label {
  width: 74px;
  height: 74px;
  line-height: 74px;
}

#music-picker label {
  width: 86px;
  height: 86px;
  line-height: 86px;
}




/* Modal Box Styles */
.modal-box {
  background: white;
  padding: 40px 100px;
  box-shadow: 0px 50px 20px -30px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px; /* Allows user to scroll past bottom */
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  transform-origin: top right;
}

.show {
  display: block;
}

.animate-to-right {
  animation: to-right 600ms ease-in-out forwards;
}

.animate-to-left {
  animation: to-left 600ms ease-in-out forwards;
}

.animate-from-left {
  animation: from-left 600ms ease-in-out forwards;
}

.animate-from-right {
  animation: from-right 600ms ease-in-out forwards;
}


@keyframes to-right {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(900px) rotate(-20deg);
  }
}
@keyframes to-left {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-900px) rotate(-20deg);
  }
}
@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}







.elective-picker {
  padding: 0;
  float: left;
  width: 90%;
  position: relative;
}
.elective-picker > li {
  margin-bottom: 10px;
  line-height: 16px;
  padding: 8px;
  border-radius: 3px;
  list-style: none;
  background-color: #ddd;
  border: 1px solid #bbb;
}
.elective-picker > li:hover {
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.numbers {
  padding: 0;
  float: left;
  width: 10%;
  list-style: none;
}
.numbers > li {
  margin-bottom: 10px;
  padding: 6px;
  
  border: 1px solid transparent;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
}


.row {
  margin-bottom: 16px;
}
.row ol {
  margin-top: 8px;
  margin-bottom: 0px;
}
.hide {
  display: none;
}
.header {
  font-weight: bold;
}
.detail {
  margin-left: 10px;
}
